body {
    margin: 0;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.backtheme {
    background: url('../img/dairy.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
}

.logo {
    width: 100%;
    padding: 0px 30px;
    font-family: cursive;
}

.logo1 {
    padding-left: 0px;
}

.logo2 {
    padding: 15px;
    padding-left: 0px;
}

.logo3 {
    padding-top: 0%;
    padding-left: 10%;
}

.tag {
    color: white;
}

.menutheme {
    font-family: arial;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 20%;
    background-color: rgba(255, 255, 255, 1);

}

.menutheme:hover {
    background-color: rgba(0, 0, 0, 0);

}

a {
    text-decoration: none;
}

.logintheme {
    padding-top: 25px;
    width: 100%;
}

form {
    width: 300px;
    margin: 0 auto;
}

.designlogin {
    background: #ffffff;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 5px;
}

.labelclass1 {
    font-family: arial;
    font-size: 30px;
    padding-top: 10%;
}

.labelclass {
    font-family: arial;
    font-size: 14px;

}

label {
    font-size: 14px;
}

.input-field {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.submitbutton {
    border-radius: 2px;
    /*        border-width: 1px;
            border-style: solid;
            border-color: transparent;*/
    color: #fff;
    /*        background: red;*/
    background: #10609e;
    /*        margin-top: 20px;*/
    font-size: 15px;
    width: 250px;
    padding: 12px 45px;
    border: none;

}